<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div><%= t('views.teams') %> </div>
      </div>
      <div class="headline-button">
        <% if can? :create, Team %>
            <%= link_to new_team_path do %>
                <div class="button"><%= t('views.new') %>  <%= t('views.team') %> </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @teams %>
    <table class="selection-table">
      <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td>
              <%= link_to team do %>
                  <div class="button"><%= t('views.show') %></div>
              <% end %>
            </td>
            <td>
              <%= link_to edit_team_path(team) do %>
                  <div class="button"><%= t('views.edit') %></div>
              <% end %>
            </td>
            <td>
              <%= link_to team, method: :delete, data: {confirm: t('views.are_you_sure')} do %>
                  <div class="button">
                    <%= t('views.delete') %>
                  </div>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @teams %>
  </div>
</div>