<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div>Listing Teams</div>
      </div>
      <div class="headline-button">
        <% if can? :create, Team %>
            <%= link_to new_team_path do %>
                <div class="button">New Team</div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @teams %>
    <table class="team-table">
      <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
            <td>
              <div class="button"><%= link_to 'Show', team %></div>
            </td>
            <td>
              <div class="button"><%= link_to 'Edit', edit_team_path(team) %></div>
            </td>
            <td>
              <div class="button"><%= link_to 'Destroy', team, method: :delete, data: {confirm: 'Are you sure?'} %></div>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @teams %>
  </div>
</div>