<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div>
          Team:
          <%= @team.name %>
        </div>
      </div>
      <div class="headline-button">
        <% if can? :edit, Team %>
            <%= link_to edit_team_path(@team) do %>
                <div class="button">Edit Team</div>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="box-content"><p id="notice"><%= notice %></p></div>
    <div class="box-content"> Team Member</div>
    <%= will_paginate @team_users, :param_name => 'teamUserPage' %>
    <table class="member-table">
      <% @team_users.each do |user| %>
          <tr>
            <td>
              <%= user.first_name + " " + user.last_name %>
              <%= user.users_teams.where('team_id = ?', @team.id)[0].user_team_role %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @team_users, :param_name => 'teamUserPage' %>
  </div>
</div>