<%= form_for(@user, url: user_path, html: { method: :put }) do |f| %>
    <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email_confirmation %><br />
    <%= f.email_field :email_confirmation %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :street_and_nr %><br />
    <%= f.text_field :street_and_nr, :placeholder => "Weg 15" %><br />
     <%= f.label :zip_code %><br />
    <%= f.number_field :zip_code %><br />
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

  <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
    <%= link_to "Cancel", :back %>
  </div>


<% end %>