<% if @users != nil %>
    <% provide(:title, "Nutzer") %>
    <div class="user-wrapper">
      <div class="row">
        <div class="box-header">
          <div><%= t('views.users') %></div>
        </div>
        <div class="headline-button">
          <% if can? :create, User %>
              <div class="list-box">
                <%= link_to new_user_path do %>
                      <div class="button"><%= t('views.new') %> <%= t('views.user') %></div>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
      <%= will_paginate @users %>
      <table class="user_table">
        <tr>
          <th><%= t('views.first_name') %></th>
          <th><%= t('views.last_name') %></th>
          <th colspan="2"><%= t('views.mail') %></th>
        </tr>
        <tr>
          <%= render @users %>
        </tr>
      </table>
      <%= will_paginate @users %>
    </div>
<% end %>