<% provide(:title, "Profil") %>
<div class="content-wrapper">
  <div class="content-box">
    <div class="box-header">
      Profil
    </div>
          <table class="form-display-table">
            <tr>
              <td>
                E-Mail
              </td>
              <td>
                <%= @user.email %>
              </td>
            </tr>
            <tr>
              <td>
                Vorname
              </td>
              <td>
                <%= @user.first_name %>
              </td>
            </tr>
            <tr>
              <td>
                Nachname
              </td>
              <td>
                <%= @user.last_name %>
              </td>
            </tr>
            <tr>
              <td>
                Rolle
              </td>
              <td>
                <%= @user.role %>
              </td>
            </tr>
            <tr>
              <td>
                Projekte
              </td>
              <td>
                <% @user.projects.each do |project| %>
                    <%= project.name %> <br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                Teams
              </td>
              <td>
                <% @user.teams.each do |teams| %>
                    <%= teams.name %> <br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
               Straße und Hausnummer
              </td>
              <td>
                <%= @user.street_and_nr %><br/>
              </td>
            </tr>
            <tr>
              <td>
               Postleitzahl
              </td>
              <td>
                <%= @user.zip_code %><br/>
              </td>
            </tr>
            <tr>
              <td>
                 Geburtstag
              </td>
              <td>
                <%= @user.birthday %>
              </td>
            </tr>
            <tr>
              <td>
                Stadt
              </td>
              <td>
                <%= @user.locality %>
              </td>
            </tr>
            <tr>
              <td>
                Bundesland
              </td>
              <td>
                <%= @user.state %>
              </td>
            </tr>
            <tr>
              <td>
                Land
              </td>
              <td>
                <%= @user.country_name %>
              </td>
            </tr>
          </table>
        </div>

          <div>
            <%= link_to :back do %>
                <div class="login-field button">
                  zurück
                </div>
            <% end %>
          </div>
        </div>
  </div>
</div>



