<% provide(:title, "Login") %>
<div class="content">
  <div class="login-box">

    <h2>PIM Suite+</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "email" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
        </div>

        <div class="remember-login-row">
          <% if devise_mapping.rememberable? -%>
              <div class="remember-me">
                <div style="display: flex">
                  <div style="width: 30px">
                    <%= f.check_box :remember_me %>
                  </div>
                  <div>
                    <%= f.label :"Angemeldet bleiben" %>
                  </div>
                </div>
              </div>
          <% end -%>

          <div class="input-button">
            <%= f.submit "Anmelden" %>
          </div>

        </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
