<% if conversation.sender_id == current_user.id %>
    <% recipient = User.find(conversation.recipient_id) %>
<% else %>
    <% recipient = User.find(conversation.sender_id) %>
<% end %>
<div class="list-item open-conversation" data-sid="<%= current_user.id %>" data-rip="<%= recipient.id %>">
  <div class="list-item-heading">
    <%= recipient.email %>
    <% if conversation.count_unread > 0 %>
        <div class="message-count"><%= conversation.count_unread %></div>
    <% end %>
  </div>
  <div class="list-item-content"><%= conversation.last_message %></div>
</div>