<div class="chat_box">
  <div class="chat_box_head">
    <div class="name">
      <%= @reciever.first_name + " " + @reciever.last_name %>
    </div>
    <div class="profile">
      <a  href="users/<%= @reciever.id %>/show" class="button">
        <i class="material-icons">account_circle</i>
      </a>
    </div>
    <div class="status">
      <% if @reciever.connection_id != '' %>
          <%= t('views.online') %>
      <% else %>
          <%= t('views.offline') %>
      <% end %>
    </div>
  </div>
  <div class="chat_box_content">
    <% if @messages.any? %>
        <%= render @messages %>
    <% end %>
  </div>
  <div class="chat_box_input">
    <textarea class="chat_box_textarea" placeholder="Nachricht..."></textarea>
    <div class="input-button chat_box_submit">
      <input type="button" value="SENDEN">
    </div>
  </div>
</div>
