<% provide(:title, "Dashboard") %>

<div class="dashboard">
  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons md-48">&#xE88A;</i>
    </div>
    <div class="box-content">
      <h1>Hello World</h1>
    </div>
  </div>

  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE0B7;</i>
      <%= link_to '/conversations' do %>
      <div style="padding: 10px">

            <%= t('views.messages') %>
      </div>
      <% end %>
    </div>
    <div class="box-content">
      <div class="dashboard-table-wrapper">
        <table class="dashboard-table dashboard-messages">
          <tbody>
          <% @conversations.each do |conversation| %>
              <% if conversation.sender_id == current_user.id %>
                  <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                  <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <% if conversation.count_unread > 0 %>
              <tr class="unread" data-userid="<%= recipient.id%>">
              <% else %>
              <tr data-userid="<%= recipient.id%>">
              <% end %>
                <td><%= conversation.last_message_date.strftime("%H:%M - %d.%m.%Y") %></td>
                <td><%= recipient.first_name + ' ' + recipient.last_name %></td>
                <td><%= conversation.last_message %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!--<div class="input-button">
        <input id="push_notify_all" type="button" value="PUSH TO ALL">
      </div>-->

    </div>
  </div>

   <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE916;</i>
       <div style="padding: 10px"> Abonnierte Kalender</div>
    </div>
    <div class="box-content">
    
    <table>
      <% @subs.each do |sub| %>
      <tr>
      <td>
      <%= link_to subscribed_events_path_url(sub.calendar_id) do %>
                  <div class="button">
                     <%= sub.name %>
                  </div>
      <% end %>
      </td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE916;</i>
      <div style="padding: 10px">
            <%= "Einladungen" %>
      </div>
    </div>
    <div style="padding: 25px">
      <% if @invites.first() == nil %>
        Sie haben keine Termineinladungen
      <% else %>
        <table class="dashboard_table">
            <tr class="head_tr">
              <th>Von</th>
              <th>Bis</th>
              <th>Title</th>
              <th>Ort</th>
              <th>Ersteller des Termins</th>
              <th>Ihre Teilnahme?</th>
            </tr>

          <% @invites.each do |invite|
              @event = Event.find(invite.event_id)
          %>
            <tr class="unreadffff" data-eventid="<%= @event.id %>">
                <td><%= @event.start_time.strftime("%H:%M - %d.%m.%y") %></td>
                <td><%= @event.end_time.strftime("%H:%M - %d.%m.%y") %></td>
                <td><%= @event.title %></td>
                <td><%= @event.location %></td>
                <td><%
                    user = User.find(@event.creator_id)
                    name = user.first_name + " " + user.last_name
                %><%= name %></td>
                <td>
                    <% if @event.deleted != 0 %>
                        Termin wurde entfernt!
                    <% elsif invite.recipient_status == 0 %>
                        Vielleicht
                    <% elsif invite.recipient_status == 1 %>
                        Ja
                    <% elsif invite.recipient_status == 2 %>
                        Nein
                    <% end %>
                </td>
              </tr>
          <% end %>

        </table>
      <% end %>
    </div>
  </div>

</div>

 

