<% provide(:title, "Dashboard") %>

<div class="dashboard">
  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons md-48">&#xE88A;</i>
    </div>
    <div class="box-content">
      <h1>Hello World</h1>
    </div>
  </div>

  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE0B7;</i>
      <div style="padding: 10px"><%= t('views.messages') %></div>
    </div>
    <div class="box-content">
      <div class="input-button">
        <input id="push_notify_all" type="button" value="PUSH TO ALL">
      </div>
      <a class="input-button"></a>
    </div>
  </div>

   <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE916;</i>
       <div style="padding: 10px"> <%= t('views.subscribed_calendars') %></div>
    </div>
    <div class="box-content">
    
    <table>
      <% @subs.each do |sub| %>
      <tr>
      <td>
      <%= link_to subscribed_events_path_url(sub.calendar_id) do %>
                  <div class="button">
                     <%= sub.name %>
                  </div>
      <% end %>
      </td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>

  <div class="dashboard-content-box">
    <div class="box-header">
      <i class="material-icons">&#xE916;</i>
    </div>
    <div class="box-content">
      I'm alive!!!! <br>
      The time is now: <%= Time.now %>
      Test
    </div>
  </div>

 

</div>