<div class="edit_event_wrapper">
    <h1><%= t('views.edit_event') %></h1>

    <%= render 'form' %>
    <div class="navi_links">
        <%= link_to events_path do %>
            <div class="button"><%= t('views.back_to_calendar') %></div>
        <% end %>
        <%= link_to @event, method: :delete, data: { confirm: t('views.are_you_sure')} do %>
            <div class="button"><%= t('views.remove') %></div>
        <% end %>
    </div>
</div>
