<%= form_for(@project) do |f| %>
    <div class="box-content">
      <table style="width: 100%; padding: 20px">
        <tr>
          <td>
            <%= f.label :name %>
          </td>
          <td width="100%">
            <div class="field">
              <%= f.text_field :name, autofocus: true, placeholder: t('views.project_name') %>
            </div>
          </td>
          <td>
            <div class="input-button">
              <%= f.submit %>
            </div>
          </td>
        </tr>
      </table>
      <% if @project.errors.any? %>
          <div id="error_explanation">
            <h2><%= t('views.error', count: @project.errors.count) %> <%= t('views.error.save_prohibited') %></h2>

            <ul>
              <% @project.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
<% end %>
