<div class="content-wrapper">
  <div class="content-box">
    <div class="box-header">Edit Project</div>
    <div class="box-content">
      <%= render 'form' %>
    </div>
    <div class="box-content row full-width-table">
      <div class="box-content-column">
        <div class="box-header"><%= t('views.member') %></div>
        <%= will_paginate @project_users, :param_name => 'projectUserPage' %>
        <table class="member-table">
          <% @project_users.each do |a| %>
              <%= form_for(a) do |ff| %>
                  <tr>
                    <td>
                      <%= User.find(a.user_id).first_name + " " + User.find(a.user_id).last_name %>
                    </td>
                    <td>
                      <%= ff.collection_select(:user_project_role, UsersProject::ROLES, :to_s, lambda { |i| i.to_s.humanize }) %>
                    </td>
                    <td>
                      <%= link_to project_remove_user_path(@project, a.user_id), method: :post do %>
                          <div class="button"><i class="material-icons">&#xE14C;</i></div>
                      <% end %>
                    </td>
                    <td>
                      <div class="input-button">
                        <%= ff.submit t('views.update') %>
                      </div>
                    </td>
                  </tr>
              <% end %>
          <% end %>
        </table>
      </div>
      <%= will_paginate @project_users, :param_name => 'projectUserPage' %>
      <div class="box-content-column">
        <div>
          <div class="box-header"><%= Project.human_attribute_name("users") %><%= t('views.add') %></div>
          <%= will_paginate @users, :param_name => 'userPage' %>
          <table class="member-table">
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.first_name + " " + user.last_name %></td>
                  <td>
                    <%= link_to project_add_user_path(@project, user), method: :post do %>
                        <div class="button"><i class="material-icons">&#xE145;</i></div>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </table>
          <%= will_paginate @users, :param_name => 'userPage' %>
        </div>
      </div>
    </div>
  </div>
</div>