<h1>Editing Project</h1>

<%= form_for(@project, url: project_path, html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
<% end %>

<div>
    <%= Project.human_attribute_name("users") %><br />
    <% @project.users.each do |user| %>
        <%= user.email %>
        <td><%= link_to 'Remove',  project_remove_user_path(@project, user),  method: :post %></td>
    <% end %>
</div>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
