<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div>Listing Projects</div>
      </div>
      <div class="headline-button">
        <% if can? :create, Project %>
            <%= link_to new_project_path do %>
                <div class="button">New Project</div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @project %>
    <table class="team-table">
      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td>
              <%= link_to project do %>
                  <div class="button"> Show</div>
              <% end %>
            </td>
            <td>
              <%= link_to edit_project_path(project) do %>
                  <div class="button">
                    Edit
                  </div>
              <% end %>
            </td>
            <td>
              <%= link_to project, method: :delete, data: {confirm: 'Are you sure?'} do %>
                  <div class="button">
                    Destroy
                  </div>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @project %>
  </div>
</div>