<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div>Listing Projects</div>
      </div>
      <div class="headline-button">
        <% if can? :create, Project %>
            <%= link_to new_project_path do %>
                <div class="button">New Project</div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @project %>
    <table class="team-table">
      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td>
              <div class="button"><%= link_to 'Show', project %></div>
            </td>
            <td>
              <div class="button"><%= link_to 'Edit', edit_project_path(project) %></div>
            </td>
            <td>
              <div class="button"><%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %></div>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @project %>
  </div>
</div>