<p id="notice"><%= notice %></p>

<div class="content-wrapper">
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div><%= t('views.projects') %></div>
      </div>
      <div class="headline-button">
        <% if can? :create, Project %>
            <%= link_to new_project_path do %>
                <div class="button"><%= t('views.new') %> <%= t('views.project') %></div>
            <% end %>
        <% end %>
      </div>
    </div>
    <%= will_paginate @project %>
    <table class="selection-table">
      <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td>
              <%= link_to project do %>
                  <div class="button"><%= t('views.show') %></div>
              <% end %>
            </td>
            <td>
              <%= link_to edit_project_path(project) do %>
                  <div class="button">
                    <%= t('views.edit') %>
                  </div>
              <% end %>
            </td>
            <td>
              <%= link_to project, method: :delete, data: {confirm: t('views.are_you_sure')} do %>
                  <div class="button">
                    <%= t('views.delete') %>
                  </div>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @project %>
  </div>
</div>