<p id="notice"><%= notice %></p>

<div>
    <%= Project.human_attribute_name("name") %><br />
    <%= @project.name %>
</div>

<div>
    <%= Project.human_attribute_name("users") %><br />
    <% @project_users.each do |user| %>
        <p><%= user.email %>
        <%= link_to 'Edit', edit_user_path(user.id) %></p>
    <% end %>
    <%= will_paginate @project_users, :param_name => 'projectUserPage' %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
