<div class="content-wrapper">
  <div id="notice"><%= notice %></div>
  <div class="content-box">
    <div class="row">
      <div class="box-header">
        <div>
          <%= t('views.project') %>: <%= @project.name %>
        </div>
      </div>
      <div class="headline-button">
        <div>
          <%= link_to edit_project_path(@project) do %>
              <div class="button"><%= t('views.project') %> <%= t('views.edit') %> </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="box-content"><%= t('views.project') %> <%= t('views.member') %></div>
    <%= will_paginate @project_users, :param_name => 'projectUserPage' %>
    <table class="member-table">
      <tr>
        <td><b><%= t('views.name') %></b></td>
        <td><b><%= t('views.role') %></b></td>
      </tr>
      <% @project_users.each do |user| %>
          <tr>
            <td>
              <%= user.first_name + " " + user.last_name %>
            </td>
            <td>
              <%= user.users_projects.where('project_id = ?', @project.id)[0].user_project_role %>
            </td>
          </tr>
      <% end %>
    </table>
    <%= will_paginate @project_users, :param_name => 'projectUserPage' %>
  </div>
</div>
