<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | PimSuite+</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript" charset="utf-8">
  // Connect to websocket
  var user = {};
  <% if Rails.env.production? %>
  var url = 'pimsuite.herokuapp.com';
  <% else %>
  var url = 'localhost:3000';
  <% end %>
  <% if current_user %>
  user.id = <%= current_user.id %>;
  <% end %>
  var dispatcher = new WebSocketRails(url + '/websocket');

  //Messages
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
</script>
<body>
<% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
<% end %>
<%= render template: 'layouts/header' %>

<main>
  <div class="main-container">
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </div>
</main>

<%= render template: 'layouts/footer' %>
</body>
</html>