<% content_for :sidebar do %>
    <div class="left-side-wrapper">
          <div class="list-box">
            <%= link_to user_index_path do %>
                <div class="button">
                  <div class="sidebar-icon"><i class="material-icons">&#xE896;</i></div>
                  <div class="sidebar-item-name">all user</div>
                </div>
            <% end %>
          </div>
      <% if can? :update, Team %>
          <div class="list-box">
            <%= link_to teams_path do %>
                <div class="button">
                  <div class="sidebar-icon"><i class="material-icons">&#xE7FC;</i></div>
                  <div class="sidebar-item-name">Teams</div>
                </div>
            <% end %>
          </div>
      <% end %>
      <% if can? :update, Project %>
          <div class="list-box">
            <%= link_to projects_path do %>
                <div class="button">
                  <div class="sidebar-icon"><i class="material-icons">&#xE8F9;</i></div>
                  <div class="sidebar-item-name">Projekte</div>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="list-box">
        <%= link_to '/users/edit' do %>
            <div class="button">
              <div class="sidebar-icon"><i class="material-icons">&#xE254;</i></div>
              <div class="sidebar-item-name">Profile</div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>