<% content_for :sidebar do %>
    <div class="left-side-wrapper">
      <% if can? :show, User %>
          <div class="list-box">
            <%= link_to user_index_path do %>
                <div class="button"><i class="material-icons">&#xE896;</i> all user</div>
            <% end %>
          </div>
      <% end %>
      <% if can? :create, User %>
          <div class="list-box">
            <%= link_to new_user_path do %>
                <div class="button"><i class="material-icons">&#xE145;</i> add user</div>
            <% end %>
          </div>
      <% end %>
      <% if can? :show, Team %>
          <div class="list-box">
             <%= link_to teams_path do %>
                  <div class="button"><i class="material-icons"></i> Teams</div>
              <% end %>
          </div>
      <% end %>
      <% if can? :create, Team %>
          <div class="list-box">
            <%= link_to new_team_path do %>
                <div class="button"><i class="material-icons">&#xE145;</i> add Team</div>
            <% end %>
          </div>
      <% end %>
      <% if can? :show, Project %>
          <div class="list-box">
              <%= link_to projects_path do %>
                  <div class="button"><i class="material-icons"></i> Projekte</div>
              <% end %>
          </div>
      <% end %>
      <% if can? :create, Project %>
          <div class="list-box">
            <%= link_to new_project_path do %>
                <div class="button"><i class="material-icons">&#xE145;</i> add Project</div>
            <% end %>
          </div>
      <% end %>
      <div class="list-box">
        <%= link_to '/users/edit' do %>
            <div class="button"><i class="material-icons">&#xE254;</i> edit user</div>
        <% end %>
      </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>