<p><%= t('views.hi') %> <%= @resource.email %>!</p>

<p><%= t('views.requeste_password_change') %></p>

<p><%= link_to t('views.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('views.ignore_passort_change') %></p>
