<% provide(:title, "Profil") %>
<div class="content-wrapper">
  <div class="content-box">
    <div class="box-header">
      Profil
    </div>
    <%= form_for(resource, as: resource_name, url: update_user_registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>
        <div class="box-content">
          <table class="form-display-table">
            <tr>
              <td>
                <%= f.label :email%>
              </td>
              <td>
                <%= resource.email %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :role %>
              </td>
              <td>
                <%= resource.role %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :first_name %>
              </td>
              <td>
                <%= resource.first_name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :laste_name %>
              </td>
              <td>
                <%= resource.last_name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= t('views.projects') %>
              </td>
              <td>
                <% @user.projects.each do |project| %>
                    <%= project.name %> <br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= t('views.teams') %>
              </td>
              <td>
                <% @user.teams.each do |teams| %>
                    <%= teams.name %> <br>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :street_and_nr %><br/>
              </td>
              <td>
                <%= resource.street_and_nr %><br/>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :zip_code %><br/>
              </td>
              <td>
                <%= resource.zip_code %><br/>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :birthday %><br/>
              </td>
              <td>
                <%= resource.birthday %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :state %>
              </td>
              <td>
                <%= resource.state %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :country_name %><br/>
              </td>
              <td>
                <%= resource.country_name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :locality %><br/>
              </td>
              <td>
                <%= resource.locality %>
              </td>
            </tr>
          </table>
        </div>

        <div class="box-header">
          <%= t('views.password') %> (<%= t('views.free_for_no_update') %>)
        </div>

        <div class="box-content row">
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('views.confirm_password') %>
          </div>
        </div>

        <div class="box-content">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div><%= t('views.waiting_for_confirmation') %>: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>

        <div class="box-content row">
          <div class="field input-button">
            <%= f.submit :update %>
          </div>
          <div>

          </div>
          <div>
            <%= link_to :back do %>
                <div class="field button">
                  <%= t('views.back') %>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>



