<div class="dashboard">
  <div class="content-box">
    <div class="box-header"> <%= resource_name.to_s.humanize %></div>
    <%= form_for(resource, as: resource_name, url: update_user_registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= devise_error_messages! %>

        <div class="box-content">
          <div class="login-field">
            <%= f.label :email %>:
            <%= resource.email %>
          </div>

          <div class="login-field">
            <%= f.label :role %>:
            <%= resource.role %>
          </div>
          <div class="login-field">
            <%= f.label :first_name %>:
            <%= resource.first_name %>
          </div>

          <div class="login-field">
            <%= f.label :last_name %>:
            <%= resource.last_name %>
          </div>
        </div>

        <div class="box-header">
          Password (leave blank if you don't want to change it)
        </div>

        <div class="box-content row">
          <div class="login-field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
          </div>

          <div class="login-field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation" %>
          </div>
        </div>

        <div class="box-content">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>

        <div class="box-content row">
          <div class="login-field input-button">
            <%= f.submit "Update" %>
          </div>
          <%= link_to :back do %>
              <div class="login-field button">
                back
              </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>



